@import "../../index.scss";
.Current_Container {
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: $box-shadow;
  .Left {
    display: flex;
    align-items: center;
    justify-content: center;
    .Box {
      width: 144px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.25rem;
      //   margin: 0 0.5rem;
      position: relative;
      cursor: pointer;

      // &::before {
      //   content: "Copy";
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      //   top: 0px;
      //   color: $blue;
      //   left: 0%;
      //   transition: 0.75s ease-in-out;
      //   z-index: -1;
      //   //   transform: translateX(-25%);
      // }
      // &:hover {
      //   &::before {
      //     animation: moveText;
      //     animation-duration: 3s;
      //     animation-iteration-count: 1;
      //   }
      // }
      // @keyframes moveText {
      //   0% {
      //     top: 0px;
      //     opacity: 1;
      //   }
      //   50% {
      //     top: -48px;
      //     opacity: 0;
      //   }
      //   100% {
      //     top: 0px;
      //     opacity: 0;
      //   }
      // }
      p {
        font-size: 0.75rem;
        letter-spacing: 4px;
        // background-color: rgba(0, 0, 0, 0.1);
        padding: 0.25rem 0.5rem;
        border-radius: 0.125rem;
        font-family: monospace;
      }
    }
    h5 {
      margin: 0 0.5rem;
    }
  }
  .Right {
    button {
      margin-left: 1rem;
      padding: 0.5rem;
      font-size: 0.8em;
      background-color: white;
      color: $black;
      outline: none;
      border: none;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }
}
