@import "../../index.scss";
.Current_Container {
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // box-shadow: $box-shadow;
  height: 40px;
  .Left {
    display: flex;
    align-items: center;
    justify-content: center;
    .Box {
      width: 144px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.25rem;
      //   margin: 0 0.5rem;
      position: relative;
      cursor: pointer;

      p {
        font-size: 0.75rem;
        letter-spacing: 4px;
        padding: 0.25rem 0.5rem;
        border-radius: 0.125rem;
        font-family: monospace;
      }
    }
    h5 {
      margin: 0 0.5rem;
    }
  }
  .Right {
    button {
      margin-left: 1rem;
      padding: 0.5rem;
      font-size: 0.8em;
      background-color: white;
      color: $black;
      outline: none;
      border: none;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .Current_Container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    .Left {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      overflow-x: scroll;
      padding: 0rem;
      margin-bottom: 0.5rem;
      .Box {
        width: 144px;
        min-width: 144px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        position: relative;
        cursor: pointer;

        p {
          font-size: 0.75rem;
          letter-spacing: 4px;
          padding: 0.25rem 0.5rem;
          border-radius: 0.125rem;
          font-family: monospace;
        }
      }
      h5 {
        margin: 0 0.5rem;
      }
    }
    .Right {
      width: 100%;
      display: flex;
      justify-content: end;
      button {
        margin-left: 1rem;
        padding: 1rem;
        font-size: 0.8em;
        background-color: rgb(241, 241, 241);
        color: $black;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}
